.card(style='width: 18rem;')
  .card-header.d-flex.justify-content-between
    h5.card-title #{task.title}
    form(action=`/tasks/${task.id}/delete` method="POST")
      button.btn.btn-danger.btn-sm(type="submit") Delete
  .card-body
    h6.card-subtitle.mb-2.text-body-secondary #{task.status}
    p.card-text #{task.description}

  .card-footer.text-body-secondary
    .d-flex.justify-content-between
      p.my-2 #{moment(task.createdAt).format('YYYY-MM-DD')}
      p.my-2 #{moment(task.updatedAt).format('YYYY-MM-DD')}